/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root {
    --main-color: hsl(247, 91%, 59%);
    --main-color-circle: hsl(249, 72%, 52%);
    --main-text-color: hsl(0, 0%, 99%);
    --secundary-text-color: hsl(0, 0%, 71%);

}

@media (min-width: 375px) and (max-width: 768px) {
    section #main {
        display: flex;
        width: 100vw;
        
    }

    div.score {

        width: 100%;
        margin: 0 auto;
        background-color: var(--main-color);
    }

    .score p {
        text-align: center;
        margin: 20px;
        color: var(--secundary-text-color);
    }

    .score-number {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border: 1px solid #c3c3c3;
        border-radius: 50%;
        
    
    }

    .score-number p {
        font-size: 2.7rem;
        font-weight: 800;
    }

    .score-number span {
        
        text-align: center;
        font-size: 0.8rem;
        font-weight: 500;
    }

}